* {
  font-family: sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 400px;
}
section {
  margin: 20px;
}
