.sidebar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 300px;
  min-height: 100vh;
  z-index: 1001;

  translate: -100%;
  transition: all ease-in-out 0.3s;
}
.sidebar::backdrop {
  background-color: rgba(0, 0, 0, 0.397);
  color: rgb(255, 66, 154);
}
.showSidebar {
  translate: 0;
  -moz-box-shadow: 5px 0 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 5px 0 5px rgba(182, 182, 182, 0.75);
  box-shadow: 5px 0 5px rgba(182, 182, 182, 0.75);
}

.close-menu-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 10px 20px;
}

.sidebar-list {
  margin-top: 80px;
  list-style: none;
}
.sidebar-list li {
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-list li:hover {
  background-color: #02a6621f;
}
.active-sidebar {
  background-color: #02a6621f;
  border-right: 5px solid var(--accent);
}
.sidebar-list a {
  width: 100%;
  line-height: 70px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.sidebar-list li img {
  width: 40px;
  height: 40px;
}
#log-out {
  margin-top: 20px;
  width: 100%;
}
