<style>
  .calendar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .calendar {
    font-size: 1rem;
    display: grid;
    gap: 20px;
    width: 500px;
    height: 300px;
  }
  .calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .calendar-btn {
    margin: 0 10px;
  }
  .btn {
    background-color: rgba(128, 128, 128, 0.281);
    width: 25px;
    height: 25px;
    margin: 0 10px;
    border-radius: 10%;

    /* display: none; */
  }
  .weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    place-items: center;
  }
  .days li {
    width: 40px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .days li:hover {
    background-color: rgba(190, 190, 190, 0.438);
  }
  .today {
    color: white;
    background-color: rgb(173, 113, 233);
  }
</style>
<div class="uni-card calendar">
  <div class="header">
    <h2 class="font-b" id="date-header"></h2>
    <div class="calendar-btn">
      <button class="btn btn-cal" id="btn-left">L</button>
      <button class="btn btn-cal" id="btn-right">R</button>
    </div>
  </div>
  <div class="weeks">
    <p class="font-b font-s">SUN</p>
    <p class="font-b font-s">MON</p>
    <p class="font-b font-s">TUE</p>
    <p class="font-b font-s">WED</p>
    <p class="font-b font-s">THU</p>
    <p class="font-b font-s">FRI</p>
    <p class="font-b font-s">SAT</p>
  </div>
  <ul class="days">
    <!-- <li>1</li> -->
  </ul>
</div>
<script>
  const dateHeader = document.getElementById("date-header");
  const days = document.querySelector(".days");
  let PrevNextBTN = document.querySelectorAll(".btn-cal");
  // getting new date, current year and month
  let date = new Date();
  currYear = date.getFullYear();
  currMonth = date.getMonth();

  const monthName = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  const renderCalendar = () => {
    let firstDayofMonth = new Date(currYear, currMonth, 1).getDay(); // Getting first day of current month
    let lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate(); // Getting last date of current month
    let lastDayofMonth = new Date(
      currYear,
      currMonth,
      lastDateofMonth
    ).getDay(); // Getting last date of last month
    let lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate(); // Getting last date of last month
    let liTags = "";

    for (let i = firstDayofMonth; i > 0; i--) {
      liTags += `<li class="txt-lite">${lastDateofLastMonth - i + 1}</li>`;
    }

    for (let i = 1; i <= lastDateofMonth; i++) {
      let isToday =
        i === date.getDate() &&
        currMonth === new Date().getMonth() &&
        currYear === new Date().getFullYear()
          ? "today"
          : "";
      liTags += `<li class="${isToday}">${i}</li>`;
    }

    for (let i = lastDayofMonth; i < 6; i++) {
      liTags += `<li class="txt-lite">${i - lastDayofMonth + 1}</li>`;
    }

    dateHeader.innerHTML = `${monthName[currMonth]} ${currYear}`;
    days.innerHTML = liTags;
  };
  renderCalendar();

  PrevNextBTN.forEach((btn) => {
    btn.addEventListener("click", () => {
      currMonth += btn.id === "btn-left" ? -1 : 1;

      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }

      renderCalendar();
    });
  });
</script>
