:root{
    --card: #fcfcfc;
    --accent: #077076;
    --text: #4e4e4e;
    --text-lite: #afafaf; 

    --clr1: #5dc574;
    --clr2: #c55d80;
    --clr3: #795dc5;
    --clr4: #5dadc5;
    --clr5: #bec55d;
    --clr6: #4b25a3;
    --clr7: #db7033;
    --clr8: #df3e3e;
    --clr9: #2914a0;
    --clr10: #c5a45d;
}