@import url("default.css");
@import url("colors.css");
/* --card: #fcfcfc;
    --accent: #077076;
    --text: #4e4e4e;
    --text-lite: #afafaf;  */
/* body{
    font-family: sans-serif;
    background-color: rebeccapurple;
} */
/* section{
    background-color: red;
    width: 95%;
    height: 90vh;
} */
.employee-container {
  font-family: "Roboto Regular";
  background-color: white;
  width: 100%;
  height: 95vh;
  padding: 10px;

  display: grid;
  grid-template-columns: minmax(300px, 25%) minmax(700px, 1fr);
  grid-template-rows: 150px minmax(400px, 70%);
  grid-gap: 15px;
  grid-template-areas:
    "ec et"
    "dc et";
  overflow: auto;
}

.emp-count {
  grid-area: ec;
  display: grid;
  grid-template-columns: 45% auto 45%;
  grid-template-rows: 100%;
}
.vl {
  margin: 0 10px;
  width: 5px;
  height: 100%;
  background-color: var(--accent);
}
.dept-count {
  grid-area: dc;
  display: grid;
  grid-template-rows: 30px 50px auto;
}
.full-bar {
  border-radius: 10px;
  background-color: var(--text-lite);
  height: 20px;
  overflow: hidden;
}
.perc-bar {
  height: 100%;
  background-color: var(--clr1);
}
.emp-table {
  grid-area: et;

  display: grid;
  grid-template-rows: 30px 50px auto;
}
.emp-search {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}
#emp-search-icon {
  width: 25px;
  height: 25px;
  background-color: white;
  transform: translate(-35px, 0px);
}
#btn-delete-emp{
    padding: 10px; background-color: transparent; border: 1px solid #fe7c7c;
}
#btn-edit-emp{
    padding: 10px; background-color: gray;
}