@import "../src/css/constants/normalize.css";
@import "../src/css/constants/default.css";
@import "../src/css/constants/font-sizes.css";
@import "../src/css/constants/colors.css";
@import "../src/css/constants/icon-sizes.css";
@import "../src/css/constants/cards.css";
@import "../src/css/constants/texts.css";
@import "../src/css/constants/btn.css";
@import "../src/css/constants/table.css";
@import "../src/css/constants/text-position.css";
@import "../src/css/constants/modals.css";
@import "../src/css/constants/notification.css";
@import "../src/css/constants/status.css";
@import "dashboard/dashboard.css";
@import "employee/employee.css";
@import "salary/salary.css";
@import "attendance/attendance.css";
@import "payments_deduction/payments_deduction.css";
@import "summary/summary.css";


body {
    overflow-y: hidden;
}

.nav-header {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;

}

.nav-header-color {
    background-color: var(--navbar-color);
    box-shadow: 5px 5px 10px 0 var(--shadow);
}


.nav-button {
    background: transparent;
}


.nav-container-left {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container-right {
    gap: 3rem;
    display: flex;
    align-items: center;
}

.nav-employee-info {
    gap: 15px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.nav-employee-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu-container {
    top: 70px;
    box-shadow: 5px 5px 10px 0 var(--shadow);
    width: fit-content;
    background-color: var(--secondary);
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}


.menu-content {
    padding: 1rem;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: inherit;
    flex-direction: inherit;
    position: relative;
    cursor: pointer;
}

.menu-content::after {
    bottom: 0;
    content: "";
    width: 5px;
    top: 50%;
    left: 94%;
    position: absolute;
    background: var(--accent) none repeat scroll 0 0;
    border-radius: 50px;
    transition: height 0.3s ease 0s, top 0.3s ease 0s;
    height: 0;

}

.menu-content:hover::after {
    height: 100%;
    top: 0;
}

.payments {
    width: 73px;
    text-align: center;
}

.main {
    display: flex;
}

.admin-content {
    width: 100vw;
    height: 100%;
    overflow-x: auto;
}

aside a.link_active:after {
    height: 100%;
    top: 0;
}

.search-icon {
    border: 1px solid var(--border-color);
    background: #FFFFFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>") no-repeat 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 300px;
    padding: .5em 1em .5em 2.5em;
}

.admin {
    background-image: url("../src/assets/icons/svg/admin.svg");
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 16px;
    height: 26px;
}

.notification-badge {
    position: relative;
}

.notification-badge-counter {
    display: block;
    border: var(--navbar-color) 2px solid;
    background-color: var(--decrease);
    position: absolute;
    border-radius: 50%;
    padding: 3px;
    right: -3px;
    top: -3px;
    /*    TODO: if there is notification, set the display to block
           change the right to -10px when it reaches more than 99 and add + sign
           also change the border radius to 10px*/
}

.collapse-menu {
    right: 0;
    top: 7rem;
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.collapse-menu span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}


.collapse-menu span:hover {
    background-color: rgba(190, 190, 190, 0.438);
}

.admin-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile {
    outline: 1px solid rgba(112, 112, 112, 0.45);
    display: flex;
    width: 400px;
    padding: 10px;
    border-radius: 5px;

}

.profiling {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.subtitle {
    opacity: 0.45;
}

.profile-edit {
    display: flex;
    align-items: center;
    gap: 5px;
    outline: 1px solid rgba(78, 78, 78, 0.57);
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.profile-edit:hover {
    background-color: rgba(190, 190, 190, 0.438);
}

.info {
    margin-bottom: 20px;
}

.info > h2 {
    border-bottom: unset;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.profile-details {
    width: 100%;
    /*outline: black solid 1px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 20px;
}

.profile-header {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.personal-information-container {
    max-height: 90px;
    overflow-y: auto;
}

.profile-additional-information {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-privileges {
    display: flex;
    gap: 10px
}

.privileges-card-full-access {
    background-color: var(--status-active);
    border-radius: 5px;
    padding: 3px 10px;
}

.privileges-card-specific {
    background-color: var(--status-inactive);
}

.privileges-card {
    border-radius: 5px;
    padding: 3px 10px;
}

.company-details {
    display: flex;
    align-items: center;
    gap: 10px
}

.admin-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 15px;
    width: 600px;

}

.admin-settings-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.import-export {
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting-card {
    background-color: #FFFFFF;
    padding: 10px;
    align-self: flex-start;

}

.data-action-container {
    margin: 5px 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.data-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in;
    cursor: pointer;
}

.data-action:hover {
    transform: scale(1.1);
    background-color: rgba(190, 190, 190, 0.438);
}

.privileges {
    width: 230px;
}


.privileges-header {
    display: flex;
    justify-content: space-between;
}

.hr-department-employee {
    margin: 9px 0;
}

.hr-icon {
    border: 3px solid #FFFFFF;
    position: absolute;
}

.hr-employee-on-queue {
    left: 40px;
}

.hr-employee-on-queue-2 {
    left: 80px;
}

.hr-employee-on-queue-3 {
    position: absolute;
    left: 140px;
    z-index: 1;
    border-radius: 50%;
    padding: 7px;
    background-color: rgba(190, 190, 190, 0.438);

}


.privileges-view {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.enable-notification-header {
    width: 210px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.two-factor-authentication {
    width: 210px;
    display: flex;
}

.admin-settings-activity {
    height: 100%;
    width: 350px;
}

.activity-log-body {
    padding: 0 10px;
    margin-top: 10px;
    width: 100%;
    height: 480px;
    overflow-y: auto;
}

.activity-log-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.feed-tracker {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    place-items: center;
}

.feed-line {
    border: 1px solid var(--tertiary);
    height: 100%;
}

.feed-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFD980;
    border: 2px solid var(--tertiary);
}

.activity-log {
    background-color: var(--attendance-late);
}

.activity-log-content {
    background-color: unset;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.activity-log-content:hover {
    background-color: rgba(190, 190, 190, 0.438);
}

.activity-log-text {
    height: fit-content;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin-notification-container {
    width: 55rem;
    background-color: #FFFFFF;
    position: fixed;
    right: 0;
    top: 80px;
    opacity: 1;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 10px 0 var(--shadow);
    padding: 20px;
    visibility: hidden;
    transform: translateY(-10px);
    transition: visibility 0s linear 0.25s, opacity 0.5s 0s, transform 0.25s;
    z-index: 3;
}

.notification-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.notification-head {
    border-bottom: 2px solid var(--tertiary);

}

.notification-body {
    padding-top: 20px;
    height: 500px;
    overflow-y: auto;
}

.notification-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-content {
    margin-left: 20px;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 93%;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.notification-content:hover {
    transform: scale(1.04);
    background-color: rgba(222, 222, 222, 0.44);

}

.notification-content-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.response-text {
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.notification-content-time {
    align-self: flex-start;
    width: 20%;
}

.notification-content-action {
    align-self: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    /*transition: background-color 0.03s ease-in-out;*/
}

.notification-content-action:hover {
    background-color: rgba(190, 190, 190, 0.438);
}

.margin-left{
    margin-left: auto;
}

.read{
    background-color: #FFFFFF;
}

.import{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    gap: 10px;
}

.import-group{
    display: flex;
    align-self: flex-end;

}

#path{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}





