<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="card landing_info_ads_container">
    <img
            alt=""
            class="icon-xxl ads-icon rounded-employee-avatar"
            src="../assets/icons/ads/reliability.webp"
    >
    <div class="ads-content">
        <h1 class="text-card-title txt-xs">Reliability</h1>
        <p class="text-card-regular txt-xxs ads-details">Trust our robust, secure system to handle your payroll, backed
            by the
            latest technology.</p>
    </div>
</div>
<div class="card landing_info_ads_container">
    <img
            alt=""
            class="icon-xxl ads-icon rounded-employee-avatar"
            src="../assets/icons/ads/reliability.webp"
    >
    <div class="ads-content">
        <h1 class="text-card-title txt-xs">Reliability</h1>
        <p class="text-card-regular txt-xxs ads-details">Trust our robust, secure system to handle your payroll, backed
            by the
            latest technology.</p>
    </div>
</div>
<div class="card landing_info_ads_container">
    <img
            alt=""
            class="icon-xxl ads-icon rounded-employee-avatar"
            src="../assets/icons/ads/reliability.webp"
    >
    <div class="ads-content">
        <h1 class="text-card-title txt-xs">Reliability</h1>
        <p class="text-card-regular txt-xxs ads-details">Trust our robust, secure system to handle your payroll, backed
            by the
            latest technology.</p>
    </div>
</div>
<div class="card landing_info_ads_container">
    <img
            alt=""
            class="icon-xxl ads-icon rounded-employee-avatar"
            src="../assets/icons/ads/reliability.webp"
    >
    <div class="ads-content">
        <h1 class="text-card-title txt-xs">Reliability</h1>
        <p class="text-card-regular txt-xxs ads-details">Trust our robust, secure system to handle your payroll, backed
            by the
            latest technology.</p>
    </div>
</div>
<script src="../../main.js"></script>
</body>
</html>