<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="card">
    <figure class="card-pin">
        <img
                src="../assets/icons/pin.png"
                alt=""
                class="icon-s">
    </figure>
    <figure class="card-img">
        <img
                src="../assets/icons/svg/Effortless Payroll Processing.svg"
                alt=""
                class="icon-xxl">
    </figure>
    <div class="card-content"></div>
</div>
</body>
</html>