<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features Card</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="card feature-card-one">
    <img
            src="../assets/icons/pin.png"
            alt=""
            class="icon-s feature-pin">
    <img
            src="../assets/icons/svg/Effortless%20Payroll%20Processing.svg"
            alt=""
            class="icon-xxl feature-icon">
    <div class="feature-description">
        <h1 class="text-card-title txt-xs">Effortless Payroll Processing</h1>
        <p class="text-card-regular txt-xxs feature-description-content">Say goodbye to manual calculations and
            paperwork. Our system automates the
            entire payroll process, making it easy to
            pay your staff accurately and on time.</p>
    </div>
</div>
</body>

<script src="../../main.js"></script>
</html>