<link rel="stylesheet" href="../../admin/dashboard/dashboard.css">
<style>
    .nav-header {
        width: 100%;
        height: 70px;
        display: flex;
        max-width: 100%;
        padding: 16px;
        align-items: center;
        justify-content: space-between;

    }

    .nav-header-color {
        background-color: var(--navbar-color);
        box-shadow: 5px 5px 10px 0 var(--shadow);
    }

</style>
<header>
    <nav class="nav-header nav-header-color">
<!--        <div class="nav-container-left">-->
<!--            <img-->
<!--                    src="../assets/icons/logo.png"-->
<!--                    alt="logo"-->
<!--                    class="nav-logo"-->
<!--            />-->
<!--            <h1 class="nav-title">DASHBOARD</h1>-->
<!--        </div>-->
<!--        <div class="nav-container-right">-->
<!--            <button type="button" class="nav-btn-switch ">SWITCH TO EMPLOYEE</button>-->
<!--            <img-->
<!--                    src="../assets/icons/notification.svg"-->
<!--                    alt="image"-->
<!--                    class="nav-notification"-->
<!--            />-->
<!--            <div class="nav-employee-info">-->
<!--                <div class="nav-employee-details">-->
<!--                    <span class="nav-employee-name">John Doe</span>-->
<!--                    <span class="nav-employee-role">Admin</span>-->
<!--                </div>-->
<!--                <img-->
<!--                        src="../assets/img/img.png"-->
<!--                        alt="image"-->
<!--                        class="nav-logo rounded-employee-avatar"-->
<!--                />-->
<!--            </div>-->
<!--        </div>-->
    </nav>
</header>