<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notify</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="notification">
    <header class="card-form">
        <div class="notification-container">
            <strong class="text-card-title txt-xs">NOTIFICATIONS</strong>
            <button class="btn btn-clear text-card-title txt-xxs highlight">Clear All</button>
        </div>
        <div class="notification-content-container">
            <div class="card notification-content">
                <img
                        src="../assets/icons/svg/info.svg"
                        alt="image"
                        class="icon-m rounded-employee-avatar"
                />
                <div class="notification-message-container">
                    <div class="notification-message">
                        <strong class="text-card-title txt-xxs notification-message-header notification-message-info">Payslip
                            Deployment Failed</strong>
                        <p class="text-card-regular txt-teen notification-message-body">We're sorry, but there was an
                            issue
                            while deploying the payslip. Please try again later or contact our support team for
                            assistance.</p>
                    </div>
                </div>
                <span class="text-card-regular notification-message-time">12hrs ago</span>
            </div>
        </div>
    </header>
</div>
<script src="../../main.js"></script>
</body>
</html>