<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<aside>
    <div class="section-container">
        <div class="menu-container">
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/dashboard.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">DASHBOARD</span>
            </div>
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/employee.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">EMPLOYEE</span>
            </div>
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/salary.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">SALARY</span>
            </div>
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/attendance.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">ATTENDANCE</span>
            </div>
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/payments.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">PAYMENTS & DEDUCTIONS</span>
            </div>
            <div class="menu-content">
                <img
                        src="../assets/icons/svg/summary.svg"
                        alt="image"
                        class="menu-image"
                />
                <span class="sub-title">SUMMARY</span>
            </div>
        </div>
    </div>
</aside>
</body>
</html>